<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silengzi.usercenter.mapper.NewhouseMapper">

    <resultMap id="BaseResultMap" type="com.silengzi.usercenter.model.domain.Newhouse">
            <id property="hid" column="hid" jdbcType="BIGINT"/>
            <result property="pid" column="pid" jdbcType="CHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="harea" column="harea" jdbcType="VARCHAR"/>
            <result property="floor" column="floor" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="VARCHAR"/>
            <result property="hpicture" column="hpicture" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        hid,pid,type,
        harea,floor,price,
        hpicture,createTime,updateTime,
        isDelete
    </sql>
</mapper>
